* {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background: radial-gradient(
    circle,
    rgba(193, 255, 114, 1) 8%,
    rgba(56, 182, 255, 1) 100%
  );
  /* background-color: #5e17eb; */
}

.centered {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: auto;
}

.mapContainer,
.aboutContainer {
  width: 70%;

  border: 1px solid gray;
  border-radius: 25px;

  -webkit-box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: rgb(0, 0, 0) 0px 10px 13px -7px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  padding: 2rem;
  margin: 4.5% auto;
}

.aboutContainer {
  background: #c5c6d090;
  border: 0.25rem solid gray;
}

.aboutContainer h2 {
  width: 100%;
  padding: 0rem 1rem;
  text-align: left;
}

.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(193, 255, 114, 0.5) 8%,
    rgba(56, 182, 255, 0.5) 100%
  );
}

div p {
  font-size: larger;
  padding: 1rem;
  width: 100%;
}

#teamText {
  margin-bottom: 0.5rem;
}

.gitLink {
  padding: 0.25rem 1rem;
  color: blue;
}

div h3 {
  padding: 0.25rem 1rem;
}

.bodyContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.maps iframe {
  padding: 1rem;
  width: 100%;
}

#map {
  height: 600px;
  width: 100%;
}

.navBar {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 10%;
  justify-content: space-between;
  background-color: white;
  filter: drop-shadow(5px 5px 8px #000000);
}

li,
a,
.button {
  text-decoration: none;
  color: black;
}

.links ul {
  display: flex;
  padding: 1rem;
  list-style: none;
}

.links li {
  padding: 0rem 1rem;
}

.links li a {
  transition: all 0.3s ease;
}

.links li a:hover {
  transition: all 0.3s ease;
  color: #38b6ff;
}

.navBar .button {
  padding: 0.75rem 2rem;
  background-color: #38b6ff;
  color: black;
  border: none;
  border-radius: 1.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
  filter: drop-shadow(3px 3px 5px #000000);
}

.navBar .button:hover {
  background-color: #38b6ff80;
}

.logo {
  cursor: pointer;
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
}

.logo img {
  width: 4rem;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  display: inline-block;
}
